<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Welcome to <%= title %></h3>
  </body>
  <p>My name is Kelsey and I am a freelance developer (as evidenced by this awesome site I threw together ;P) (don't worry, innovation and creativity are on the way!).</p>
  <br>
  <p>If you'd like to contact me, you can do so via:</p>
  <ul>
    <li><a style= "color:black;" href="https://www.linkedin.com/in/kmniemeyer/">LinkedIn</a></li>
    <li><a style= "color:black;" href="https://github.com/BrightnBubbly">GitHub</a></li>
    <li><a style= "color:black;" href="https://twitter.com/brightnbubbly16">Twitter</a></li>
    <li><a style= "color:black;" href="https://www.facebook.com/kniemeyer2">Facebook</a></li>
  </ul>
</html>
